<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show user</title>
    <style> div {
        width: 250px;
        padding: 10px 5px;
        font-family: "Roboto Light",serif;
        font-size: 16px;
        border-style: solid;
        border-width: 1px;
        background: springgreen;
    }
    button {
        padding: 5px;
        background-color: coral;
    }
    </style>
</head>
<body>
<h1>User</h1>
    <a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit this User</a>
    <br>
    <div th:text="${'ID: ' + user.getId()}">VALUE</div>
    <div th:text="${user.getName() + ', ' + user.getPosition()}">VALUE</div>
    <div th:text="${'Email: ' + user.getEmail()}">VALUE</div>
    <br/>
    <hr/>
    <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
        <input type="submit" value="Delete this User"/>
    </form>
    <br/>
    <button onclick="window.location.href = '/users';">Back to users</button>
</body>
</html>